body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
    
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(89,99,101,1) 100%);
    
}



.container{
    display: block;
     width: 80%;
    margin: 2px auto;
    padding: 1%;
    border-radius: 1%;
}



.logo{
    margin: 0 auto;
}
.svg-logo {
    max-height: 420px;
    max-width: 500px;
}


.side-header{
    color: #d1ba71;
    text-align: center;
    margin-top: 5%;
    
    font-size: 1.5rem;
}

.link_bar{
    margin-top: 5%;
    font-size: 1.0rem;
    line-height: 1.5;
}

.link_bar a:link { 
    color:#f7ef9e;
    color: #d1ba71;
    text-decoration: none;
    
}
.link_bar a:hover { 
    color:#f7ef9e; 
    
}
.link_bar a:active {
     color:white; 
    }

.logo{
   max-width: 600px;
   font-style: normal;
}


